USE [master]
GO
/****** Object:  Database [TiendaLitos]    Script Date: 12/12/2020 9:30:06 ******/
CREATE DATABASE [TiendaLitos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaLitos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TiendaLitos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaLitos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TiendaLitos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaLitos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaLitos]
GO
/****** Object:  Table [dbo].[TbArticulo]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbArticulo](
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
	[NombreArticulo] [nvarchar](50) NULL,
	[Descripción] [nvarchar](50) NULL,
	[IdSubCategoria] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbArticulo] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbArticuloBaja]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbArticuloBaja](
	[IdArticulosBaja] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoMovimimiento] [int] NULL,
	[IdArticuloBodega] [int] NULL,
	[Cantidad] [int] NULL,
	[NombreMedida] [nvarchar](50) NULL,
	[TotalUnidades] [decimal](18, 0) NULL,
	[DescripciónArticuloBaja] [nvarchar](50) NULL,
	[IdArticulo] [int] NULL,
 CONSTRAINT [PK_TbArticuloBaja] PRIMARY KEY CLUSTERED 
(
	[IdArticulosBaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbArticuloBodega]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbArticuloBodega](
	[IdArticuloBodega] [int] IDENTITY(1,1) NOT NULL,
	[IdBodega] [int] NULL,
	[IdArticulo] [int] NULL,
	[IdMedida] [int] NULL,
	[IdMarca] [int] NULL,
	[IdColor] [int] NULL,
	[IdTalla] [int] NULL,
	[Existencia] [nvarchar](50) NULL,
	[PrecioCompra] [float] NULL,
	[PrecioVenta] [float] NULL,
	[Descuento] [float] NULL,
	[DescuentoMaximo] [float] NULL,
 CONSTRAINT [PK_TbArticuloBodega] PRIMARY KEY CLUSTERED 
(
	[IdArticuloBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBodega]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBodega](
	[IdBodega] [int] IDENTITY(1,1) NOT NULL,
	[Bodega] [nvarchar](50) NULL,
	[Descripción] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbBodega] PRIMARY KEY CLUSTERED 
(
	[IdBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCategoria]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCategoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbCategoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbColor]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbColor](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbColor] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCompra]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCompra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[FechaCompra] [date] NULL,
	[SubTotal] [float] NULL,
	[Iva] [float] NULL,
	[Anular] [bit] NULL,
	[Total] [float] NULL,
	[NoFactura] [nvarchar](50) NULL,
	[IdProveedor] [int] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_TbCompra] PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbConfiguración]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbConfiguración](
	[IdConfiguración] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[NombreTienda] [nvarchar](50) NULL,
	[CofiguraciónDelLema] [nvarchar](50) NULL,
	[ConfTelefono] [numeric](18, 0) NULL,
	[ConfDireccion] [nvarchar](50) NULL,
	[ConfEncabezadoFactura] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbConfiguración] PRIMARY KEY CLUSTERED 
(
	[IdConfiguración] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDetalleCompra]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDetalleCompra](
	[IdCompra] [int] NULL,
	[IdArticulo] [int] NULL,
	[Cantidad] [float] NULL,
	[Precio] [float] NULL,
	[Descuento] [float] NULL,
	[SubTotal] [float] NULL,
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDetalleVenta]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDetalleVenta](
	[IdVenta] [int] NULL,
	[IdArticuloBodega] [int] NULL,
	[DescripciónArticulo] [nvarchar](50) NULL,
	[UdMedidaVenta] [nvarchar](50) NULL,
	[PrecioPorUnidad] [float] NULL,
	[Cantidad] [float] NULL,
	[PrecioVenta] [money] NULL,
	[SubTotal] [money] NULL,
	[Descuento] [float] NULL,
	[Pago] [money] NULL,
	[Cambio] [money] NULL,
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDevoluciònVenta]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDevoluciònVenta](
	[IdDevoluciònVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdVenta] [int] NULL,
	[NoFactura] [nvarchar](50) NULL,
	[FechaDevoluciòn] [date] NULL,
	[IdArticulo] [int] NULL,
	[Cantidad] [int] NULL,
	[DescripciònDevoluciòn] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbDevoluciònVenta] PRIMARY KEY CLUSTERED 
(
	[IdDevoluciònVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMarca]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMarca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbMarca] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMedida]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMedida](
	[IdMedida] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedida] [nvarchar](50) NULL,
	[PrecioMedida] [float] NULL,
	[UdidadesEquivalente] [float] NULL,
 CONSTRAINT [PK_TbMedida] PRIMARY KEY CLUSTERED 
(
	[IdMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMovimientoArticulo]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMovimientoArticulo](
	[IdMovimientoArticulo] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoMovimiento] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdArticuloBodega] [int] NULL,
	[FechaMovimiento] [smalldatetime] NULL,
	[Cantidad] [int] NULL,
	[TotalMedida] [float] NULL,
	[DescripciónMovimientoArticulo] [nvarchar](50) NULL,
	[IdArticulo] [int] NULL,
 CONSTRAINT [PK_TbMovimientoArticulo] PRIMARY KEY CLUSTERED 
(
	[IdMovimientoArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPromoción]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPromoción](
	[IdPromoción] [int] IDENTITY(1,1) NOT NULL,
	[NombrePromoción] [nvarchar](50) NULL,
	[Descuento] [money] NULL,
	[InicioPromoción] [smalldatetime] NULL,
	[FinPromoción] [smalldatetime] NULL,
	[Descripción] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbPromoción] PRIMARY KEY CLUSTERED 
(
	[IdPromoción] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbProveedor]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbProveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [nvarchar](50) NULL,
	[Dirección] [nvarchar](50) NULL,
	[NombreConctato] [nvarchar](50) NULL,
	[Tefonono] [numeric](18, 0) NULL,
	[Departamento] [nvarchar](50) NULL,
	[Municipio] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbProveedor] PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbRol]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NULL,
	[Descripción] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbRol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbRolUsuario]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRolUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSubCategoria]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSubCategoria](
	[IdSubCategoria] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[Descripción] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbSubCategoria] PRIMARY KEY CLUSTERED 
(
	[IdSubCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTalla]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTalla](
	[IdTalla] [int] IDENTITY(1,1) NOT NULL,
	[NombreTalla] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_TbTalla] PRIMARY KEY CLUSTERED 
(
	[IdTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTipoMovimiento]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTipoMovimiento](
	[IdTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[NombreMovimiento] [nvarchar](50) NULL,
	[DescripciónTipoMovimiento] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbTipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[IdTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUsuario]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Cedula] [nvarchar](50) NULL,
	[Telefono] [numeric](18, 0) NULL,
	[Contraseña] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbVenta]    Script Date: 12/12/2020 9:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbVenta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdPromoción] [int] NULL,
	[Fecha] [date] NULL,
	[Iva] [float] NULL,
	[Total] [float] NULL,
	[Anular] [bit] NULL,
	[SubTotal] [float] NULL,
	[NombreCliente] [nvarchar](50) NULL,
 CONSTRAINT [PK_TbVenta] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TbArticulo] ON 

INSERT [dbo].[TbArticulo] ([IdArticulo], [NombreArticulo], [Descripción], [IdSubCategoria], [Estado]) VALUES (1, N'Camisa ', N'Camisa manga corta', 1, 1)
INSERT [dbo].[TbArticulo] ([IdArticulo], [NombreArticulo], [Descripción], [IdSubCategoria], [Estado]) VALUES (2, N'Pantalón (niño) ', N'Pantalón para niño', 1, 1)
INSERT [dbo].[TbArticulo] ([IdArticulo], [NombreArticulo], [Descripción], [IdSubCategoria], [Estado]) VALUES (3, N'zapatos deportivos', N'zapatos deportivos', 3, 1)
SET IDENTITY_INSERT [dbo].[TbArticulo] OFF
SET IDENTITY_INSERT [dbo].[TbArticuloBodega] ON 

INSERT [dbo].[TbArticuloBodega] ([IdArticuloBodega], [IdBodega], [IdArticulo], [IdMedida], [IdMarca], [IdColor], [IdTalla], [Existencia], [PrecioCompra], [PrecioVenta], [Descuento], [DescuentoMaximo]) VALUES (1, 1, 1, 1, 1, 1, 1, N'10', 100, 120, 10, 12)
INSERT [dbo].[TbArticuloBodega] ([IdArticuloBodega], [IdBodega], [IdArticulo], [IdMedida], [IdMarca], [IdColor], [IdTalla], [Existencia], [PrecioCompra], [PrecioVenta], [Descuento], [DescuentoMaximo]) VALUES (2, 2, 2, 1, 1, 1, 1, N'10', 100, 120, 10, 12)
INSERT [dbo].[TbArticuloBodega] ([IdArticuloBodega], [IdBodega], [IdArticulo], [IdMedida], [IdMarca], [IdColor], [IdTalla], [Existencia], [PrecioCompra], [PrecioVenta], [Descuento], [DescuentoMaximo]) VALUES (3, 2, 1, 1, 1, 1, 1, N'10', 100, 120, 10, 12)
SET IDENTITY_INSERT [dbo].[TbArticuloBodega] OFF
SET IDENTITY_INSERT [dbo].[TbBodega] ON 

INSERT [dbo].[TbBodega] ([IdBodega], [Bodega], [Descripción]) VALUES (1, N'Bodega uno', N'Bodega uno')
INSERT [dbo].[TbBodega] ([IdBodega], [Bodega], [Descripción]) VALUES (2, N'Bodega dos', N'Bodega dos')
SET IDENTITY_INSERT [dbo].[TbBodega] OFF
SET IDENTITY_INSERT [dbo].[TbCategoria] ON 

INSERT [dbo].[TbCategoria] ([IdCategoria], [NombreCategoria], [Estado]) VALUES (1, N'Categoria ', 1)
INSERT [dbo].[TbCategoria] ([IdCategoria], [NombreCategoria], [Estado]) VALUES (2, N'Categoria 2', 1)
INSERT [dbo].[TbCategoria] ([IdCategoria], [NombreCategoria], [Estado]) VALUES (3, N'Categoria 3', 1)
SET IDENTITY_INSERT [dbo].[TbCategoria] OFF
SET IDENTITY_INSERT [dbo].[TbColor] ON 

INSERT [dbo].[TbColor] ([IdColor], [NombreColor], [Estado]) VALUES (1, N'Rojo', 1)
INSERT [dbo].[TbColor] ([IdColor], [NombreColor], [Estado]) VALUES (2, N'Verder', 1)
SET IDENTITY_INSERT [dbo].[TbColor] OFF
SET IDENTITY_INSERT [dbo].[TbCompra] ON 

INSERT [dbo].[TbCompra] ([IdCompra], [FechaCompra], [SubTotal], [Iva], [Anular], [Total], [NoFactura], [IdProveedor], [IdUsuario]) VALUES (3, CAST(N'2020-12-11' AS Date), 7853, 10, NULL, 8638.3, N'202012111', 1, 1)
INSERT [dbo].[TbCompra] ([IdCompra], [FechaCompra], [SubTotal], [Iva], [Anular], [Total], [NoFactura], [IdProveedor], [IdUsuario]) VALUES (4, CAST(N'2020-12-11' AS Date), 360, 10, NULL, 396, N'202012112', 1, 1)
INSERT [dbo].[TbCompra] ([IdCompra], [FechaCompra], [SubTotal], [Iva], [Anular], [Total], [NoFactura], [IdProveedor], [IdUsuario]) VALUES (5, CAST(N'2020-12-11' AS Date), 198, 10, NULL, 217.8, N'202012113', 1, 1)
SET IDENTITY_INSERT [dbo].[TbCompra] OFF
SET IDENTITY_INSERT [dbo].[TbDetalleCompra] ON 

INSERT [dbo].[TbDetalleCompra] ([IdCompra], [IdArticulo], [Cantidad], [Precio], [Descuento], [SubTotal], [IdDetalleCompra]) VALUES (NULL, 1, 20, 200, 2, NULL, 1)
INSERT [dbo].[TbDetalleCompra] ([IdCompra], [IdArticulo], [Cantidad], [Precio], [Descuento], [SubTotal], [IdDetalleCompra]) VALUES (NULL, 2, 23, 180, 5, NULL, 2)
INSERT [dbo].[TbDetalleCompra] ([IdCompra], [IdArticulo], [Cantidad], [Precio], [Descuento], [SubTotal], [IdDetalleCompra]) VALUES (NULL, 1, 20, 20, 10, NULL, 3)
SET IDENTITY_INSERT [dbo].[TbDetalleCompra] OFF
SET IDENTITY_INSERT [dbo].[TbMarca] ON 

INSERT [dbo].[TbMarca] ([IdMarca], [NombreMarca], [Estado]) VALUES (1, N'Marca uno', 1)
INSERT [dbo].[TbMarca] ([IdMarca], [NombreMarca], [Estado]) VALUES (2, N'Marca dos', 1)
SET IDENTITY_INSERT [dbo].[TbMarca] OFF
SET IDENTITY_INSERT [dbo].[TbMedida] ON 

INSERT [dbo].[TbMedida] ([IdMedida], [NombreMedida], [PrecioMedida], [UdidadesEquivalente]) VALUES (1, N'Medida uno', 1, 1)
INSERT [dbo].[TbMedida] ([IdMedida], [NombreMedida], [PrecioMedida], [UdidadesEquivalente]) VALUES (2, N'Medida dos', 2, 2)
SET IDENTITY_INSERT [dbo].[TbMedida] OFF
SET IDENTITY_INSERT [dbo].[TbProveedor] ON 

INSERT [dbo].[TbProveedor] ([IdProveedor], [NombreEmpresa], [Dirección], [NombreConctato], [Tefonono], [Departamento], [Municipio]) VALUES (1, N'Empresa 1', N'Carazo', N'Juan', CAST(0 AS Numeric(18, 0)), N'Carazo', N'Teresa')
SET IDENTITY_INSERT [dbo].[TbProveedor] OFF
SET IDENTITY_INSERT [dbo].[TbSubCategoria] ON 

INSERT [dbo].[TbSubCategoria] ([IdSubCategoria], [IdCategoria], [Descripción], [Estado]) VALUES (1, 1, N'ropa niña', 1)
INSERT [dbo].[TbSubCategoria] ([IdSubCategoria], [IdCategoria], [Descripción], [Estado]) VALUES (2, 2, N'ropa para niño', 1)
INSERT [dbo].[TbSubCategoria] ([IdSubCategoria], [IdCategoria], [Descripción], [Estado]) VALUES (3, 1, N'calzado para niño', 1)
SET IDENTITY_INSERT [dbo].[TbSubCategoria] OFF
SET IDENTITY_INSERT [dbo].[TbTalla] ON 

INSERT [dbo].[TbTalla] ([IdTalla], [NombreTalla], [Estado]) VALUES (1, N'Talla uno', 1)
INSERT [dbo].[TbTalla] ([IdTalla], [NombreTalla], [Estado]) VALUES (2, N'Talla dos', 1)
SET IDENTITY_INSERT [dbo].[TbTalla] OFF
SET IDENTITY_INSERT [dbo].[TbUsuario] ON 

INSERT [dbo].[TbUsuario] ([IdUsuario], [NombreUsuario], [Apellido], [Cedula], [Telefono], [Contraseña]) VALUES (1, N'Oscar', N'Jimenez', N'02565145', CAST(88564 AS Numeric(18, 0)), N'Oscar123.')
SET IDENTITY_INSERT [dbo].[TbUsuario] OFF
ALTER TABLE [dbo].[TbArticulo]  WITH CHECK ADD  CONSTRAINT [FK_TbArticulo_TbSubCategoria] FOREIGN KEY([IdSubCategoria])
REFERENCES [dbo].[TbSubCategoria] ([IdSubCategoria])
GO
ALTER TABLE [dbo].[TbArticulo] CHECK CONSTRAINT [FK_TbArticulo_TbSubCategoria]
GO
ALTER TABLE [dbo].[TbArticuloBaja]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBaja_TbArticuloBodega] FOREIGN KEY([IdArticuloBodega])
REFERENCES [dbo].[TbArticuloBodega] ([IdArticuloBodega])
GO
ALTER TABLE [dbo].[TbArticuloBaja] CHECK CONSTRAINT [FK_TbArticuloBaja_TbArticuloBodega]
GO
ALTER TABLE [dbo].[TbArticuloBaja]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBaja_TbTipoMovimiento] FOREIGN KEY([IdTipoMovimimiento])
REFERENCES [dbo].[TbTipoMovimiento] ([IdTipoMovimiento])
GO
ALTER TABLE [dbo].[TbArticuloBaja] CHECK CONSTRAINT [FK_TbArticuloBaja_TbTipoMovimiento]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbArticulo] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[TbArticulo] ([IdArticulo])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbArticulo]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbBodega] FOREIGN KEY([IdBodega])
REFERENCES [dbo].[TbBodega] ([IdBodega])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbBodega]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbColor] FOREIGN KEY([IdColor])
REFERENCES [dbo].[TbColor] ([IdColor])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbColor]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbMarca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[TbMarca] ([IdMarca])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbMarca]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbMedida] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[TbMedida] ([IdMedida])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbMedida]
GO
ALTER TABLE [dbo].[TbArticuloBodega]  WITH CHECK ADD  CONSTRAINT [FK_TbArticuloBodega_TbTalla] FOREIGN KEY([IdTalla])
REFERENCES [dbo].[TbTalla] ([IdTalla])
GO
ALTER TABLE [dbo].[TbArticuloBodega] CHECK CONSTRAINT [FK_TbArticuloBodega_TbTalla]
GO
ALTER TABLE [dbo].[TbCompra]  WITH CHECK ADD  CONSTRAINT [FK_TbCompra_TbProveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[TbProveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[TbCompra] CHECK CONSTRAINT [FK_TbCompra_TbProveedor]
GO
ALTER TABLE [dbo].[TbCompra]  WITH CHECK ADD  CONSTRAINT [FK_TbCompra_TbUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TbCompra] CHECK CONSTRAINT [FK_TbCompra_TbUsuario]
GO
ALTER TABLE [dbo].[TbConfiguración]  WITH CHECK ADD  CONSTRAINT [FK_TbConfiguración_TbUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TbConfiguración] CHECK CONSTRAINT [FK_TbConfiguración_TbUsuario]
GO
ALTER TABLE [dbo].[TbDetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_TbDetalleCompra_TbCompra1] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[TbCompra] ([IdCompra])
GO
ALTER TABLE [dbo].[TbDetalleCompra] CHECK CONSTRAINT [FK_TbDetalleCompra_TbCompra1]
GO
ALTER TABLE [dbo].[TbDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbDetalleVenta_TbArticuloBodega] FOREIGN KEY([IdArticuloBodega])
REFERENCES [dbo].[TbArticuloBodega] ([IdArticuloBodega])
GO
ALTER TABLE [dbo].[TbDetalleVenta] CHECK CONSTRAINT [FK_TbDetalleVenta_TbArticuloBodega]
GO
ALTER TABLE [dbo].[TbDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbDetalleVenta_TbVenta1] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[TbVenta] ([IdVenta])
GO
ALTER TABLE [dbo].[TbDetalleVenta] CHECK CONSTRAINT [FK_TbDetalleVenta_TbVenta1]
GO
ALTER TABLE [dbo].[TbDevoluciònVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbDevoluciònVenta_TbArticulo] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[TbArticulo] ([IdArticulo])
GO
ALTER TABLE [dbo].[TbDevoluciònVenta] CHECK CONSTRAINT [FK_TbDevoluciònVenta_TbArticulo]
GO
ALTER TABLE [dbo].[TbDevoluciònVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbDevoluciònVenta_TbUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TbDevoluciònVenta] CHECK CONSTRAINT [FK_TbDevoluciònVenta_TbUsuario]
GO
ALTER TABLE [dbo].[TbDevoluciònVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbDevoluciònVenta_TbVenta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[TbVenta] ([IdVenta])
GO
ALTER TABLE [dbo].[TbDevoluciònVenta] CHECK CONSTRAINT [FK_TbDevoluciònVenta_TbVenta]
GO
ALTER TABLE [dbo].[TbMovimientoArticulo]  WITH CHECK ADD  CONSTRAINT [FK_TbMovimientoArticulo_TbArticulo] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[TbArticulo] ([IdArticulo])
GO
ALTER TABLE [dbo].[TbMovimientoArticulo] CHECK CONSTRAINT [FK_TbMovimientoArticulo_TbArticulo]
GO
ALTER TABLE [dbo].[TbMovimientoArticulo]  WITH CHECK ADD  CONSTRAINT [FK_TbMovimientoArticulo_TbArticuloBodega] FOREIGN KEY([IdArticuloBodega])
REFERENCES [dbo].[TbArticuloBodega] ([IdArticuloBodega])
GO
ALTER TABLE [dbo].[TbMovimientoArticulo] CHECK CONSTRAINT [FK_TbMovimientoArticulo_TbArticuloBodega]
GO
ALTER TABLE [dbo].[TbMovimientoArticulo]  WITH CHECK ADD  CONSTRAINT [FK_TbMovimientoArticulo_TbTipoMovimiento] FOREIGN KEY([IdTipoMovimiento])
REFERENCES [dbo].[TbTipoMovimiento] ([IdTipoMovimiento])
GO
ALTER TABLE [dbo].[TbMovimientoArticulo] CHECK CONSTRAINT [FK_TbMovimientoArticulo_TbTipoMovimiento]
GO
ALTER TABLE [dbo].[TbRolUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TbRolUsuario_TbRol1] FOREIGN KEY([IdRol])
REFERENCES [dbo].[TbRol] ([IdRol])
GO
ALTER TABLE [dbo].[TbRolUsuario] CHECK CONSTRAINT [FK_TbRolUsuario_TbRol1]
GO
ALTER TABLE [dbo].[TbRolUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TbRolUsuario_TbUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TbRolUsuario] CHECK CONSTRAINT [FK_TbRolUsuario_TbUsuario]
GO
ALTER TABLE [dbo].[TbSubCategoria]  WITH CHECK ADD  CONSTRAINT [FK_TbSubCategoria_TbCategoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[TbCategoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[TbSubCategoria] CHECK CONSTRAINT [FK_TbSubCategoria_TbCategoria]
GO
ALTER TABLE [dbo].[TbVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbVenta_TbPromoción] FOREIGN KEY([IdPromoción])
REFERENCES [dbo].[TbPromoción] ([IdPromoción])
GO
ALTER TABLE [dbo].[TbVenta] CHECK CONSTRAINT [FK_TbVenta_TbPromoción]
GO
ALTER TABLE [dbo].[TbVenta]  WITH CHECK ADD  CONSTRAINT [FK_TbVenta_TbUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TbUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TbVenta] CHECK CONSTRAINT [FK_TbVenta_TbUsuario]
GO
USE [master]
GO
